{% extends "layouts/base.twig" %}

{% block main_content %}

    <ul>
    {% for user in users %}
        <li>
            <label>name:</label> {{ user.name }}
        </li>
    {% endblock %}
    </ul>


<p>The is coming from template/view/base.twig</p>