{% extends 'layouts/base.twig' %}

{# main content block #}
{% block main_content %}
    <h2>All Products:</h2>
        <ul>
            {% for product in products%}
                <li>
                    {{ product.name }} - 
                    <a href="/products/{{ product.id }}">Edit</a> |
                    <a href="/products/{{ product.id }}/delete">Delete</a>
                </li>
            {% endfor %}
        </ul>
    <a href="/products/new">Create New Product</a>
    {% endblock %}